html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
nav {
    margin-bottom: 20px;
}

.content {
    background: white;
    width: 520px;
}
form, .error {
    width: 520px;
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
    background: white;
}
ul {
    list-style: none;
}
li {
    position: relative;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}
li:last-child {
    border-bottom: none;
}
li time {
    font-size: 12px;
    padding-bottom: 20px;
}
